<p>Find me in app/views/customers/index.html.erb</p>

<div class="col-md-8 offset-md-1">
<h2>商品一覧</h2>
  <table class="table table-hover table-inverse">
   <thead>
    <tr>
      <th></th>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
   </thead>
     <tbody>
<% @items.each do |item| %>
<tbody>
   <tr>
    <td><%= item.id %></td>
    <td><%= link_to item.name, item_path(item.id) %></td>
    <td><%= item.tax_out_price %></td>
    <td><%= item.genre_id %></td>
    <td><%= item.is_onsele %></td>
  </tr>
  </tbody>
<% end %>
</table>
</div>