
  　　 <h2>商品一覧</h2>
      <table class="table table-hover">

    　<h3>
    　<%= link_to "新規登録", new_admin_item_path %>
    　</h3>

        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
        <% @items.each do |item| %>
          <tr>
            <td><%= item.id %></td>
            <td><%= link_to item.name, admin_item_path(item.id) %></td>
            <td><%= item.tax_out_price.to_s(:delimited) %></td>
            <td><%= item.genre.name %></td>

            <% if item.is_onsele == true %>
            <td><%= "販売中" %></td>
            <% else %>
            <td><%= "販売停止中" %></td>
            <% end %>

          </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate @items %>


