<div class="container-md">
  <h2>商品新規登録</h2>
    <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>
      <table>
        <tr>
          <div class="form-group">
            <td><p>商品画像</p></td>
            <td>
             <%= f.file_field :profile_image, accept: "image/*" %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td><p>商品名</p></td>
            <td>
             <%= f.text_field :name, placeholder: "商品名" %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td><p>商品説明</p></td>
            <td>
             <%= f.text_area :explanation, placeholder: "ここに説明文を記述します", rows: "5", class: "w-100" %>
            </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
             <td><p>ジャンル</p></td>
             <td>
             <%= f.collection_select :genre_id, @genres, :id, :name, :prompt => "･･･選択してください･･･" %>
             </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
             <td><p>税抜価格</p></td>
             <td>
             <%= f.number_field :tax_out_price, placeholder: "1,000" %>
             </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
             <td><p>販売ステータス</p></td>
             <td>
             <%= f.radio_button :is_onsele, true %>
             <%= f.label :is_onsele, "販売中" %>
             <%= f.radio_button :is_onsele, false %>
             <%= f.label :is_onsele, "販売停止" %>
             </td>
          </div>
        </tr>
        <tr>
          <div class="form-group">
            <td></td>
            <td>
              <%= f.submit '新規登録' %>
            </td>
          </div>
        </tr>
      </table>
      <% end %>
</div>
