
    <h2>商品新規登録</h2>
      <%= form_with model: @item, url: admin_items_path, method: :post do |f| %>

        <label>商品画像</label><br>
        <%= f.file_field :profile_image, accept: "image/*" %>

        <label>商品名</label>
        <%= f.text_field :name %>

        <label>商品説明</label>
        <%= f.text_area :explanation %>

        <label>ジャンル</label>
        <%= f.collection_select :genre_id, @genres, :id, :name %>

        <label>税抜価格</label>
        <%= f.number_field :tax_out_price %>

        <label>販売ステータス</label>

      <%= f.submit '新規登録' %>
      <% end %>