<%= stylesheet_link_tag 'homes' %>
<table class="mb-3">
  <tr>
    <td class="text-success font-weight-bold">ようこそ、ながのCAKEへ!</td>
  </tr>
</table>

<div class='container'>
  <div class='row'>
    <div class="homes-container">
      <div class='homes-text'>
        <p class=" text-light ">このサイトは、ケーキ販売のECサイトになります。</p>
        <p class=" text-light">会員でない方も商品の閲覧はできますが</p>
        <p class=" text-light">購入には会員登録が必要となります。</p>
      </div>
      <div class="mb-10 mt-5">
        <%= image_tag 'images-1.jpeg',size:"1200x500" %>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-10 offset-md-5 mt-10">
      <h1>新着商品</h1>
    </div>
  </div>
  <div class="row col-md-12 offset-md-1">
    
    <div class="row mb-5">
        <div class="col-lg-10 mt-5 d-flex">
          <% @items.each do |item| %>
           <% unless item.is_onsele == false %>
          <div class="col-4">
            <%= link_to item_path(item.id) do %>
                <%= image_tag item.get_profile_image(150,150) %>
                <% end %>
            <div><%= link_to item.name, item_path(item.id) %></div>
            <div>￥<%= item.tax_out_price.to_s(:delimited) %></div>
          </div>
          <% end %>
          <% end %>
          </div>
          
        
    </div>
    
  </div>
  <div style="text-align: right"><%= link_to "すべての商品を見る＞", items_path %></div>
</div>
