<div class='container' >
  <div class='row'>
    <div class='col'>
      <%= form_with model: @customer, url: admin_customer_path(@customer) do |f| %>
      <table>
      <thead>
        <th><h2><%= @customer.last_name+@customer.first_name %>さんの会員情報編集</h2></th>
      </thead>
     <p></p>
     <p></p>

 <tbody>
   <div class="form-group">
   <tr><td>会員ID</td><td><%= @customer.id %></td></tr>
   <tr><td>氏名</td>
    <td><%= f.text_field :last_name %></td>
    <td><%= f.text_field :first_name %></td></tr>
   <tr><td>フリガナ</td></td>
    <td><%= f.text_field :last_name_kana %></td>
    <td><%= f.text_field :first_name_kana %></td></tr>
   <tr><td>郵便番号</td><td><%= f.text_field :postcode %></td></tr>
   <tr><td>住所</td><td><%= f.text_field :address %></td></tr>
   <tr><td>電話番号</td><td><%= f.text_field :telephone_number %></td></tr>
   <tr><td>メールアドレス</td><td><%= f.text_field :email %></td></tr>
   <tr><td>会員ステータ</td>
       <td>
         <%= f.radio_button :is_active, :true %>
         <%= f.label :true, "有効" %>

         <%= f.radio_button :is_active, :false %>
         <%= f.label :false, "退会" %></td></tr>
    <tr><td><%= f.submit '変更内容を保存', class: "btn btn-success" %></td></tr>

   </div>
   </tbody>
   </table>
  <% end %>
   </div>
  </div>
</div>