<h3>ショッピングカート</h3>

 <table>
  <thead>
   <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th colspan="1"></th>
   </tr>
  </thead>

  <%= button_to "カートを空にする", cart_items_path, method: :delete %>

  <tbody>
   <% @cart_items.each do |cart_item|%>
    <tr>
     <td><%= cart_item.item.name %></td>
     <td><%= cart_item.item.with_tax_price %></td>
     <%= form_with model: cart_item do |f| %>
     <td><%= f.select :quantity, [size: 10, min: 1], {include_blank: '個数選択'} %></td>
     <% end %>
     <td><%= cart_item.subtotal %></td>
     <td><%= link_to "削除する", cart_items_path, method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      <% @total += (cart_item.item.with_tax_price).floor * cart_item.quantity %>
    </tr>
   <% end %>
  </tbody>
  <%= link_to "買い物を続ける", items_path %>
 </table>

