<h2>注文履歴詳細</h2>

<h3>注文情報</h3>
 <table>
  <tbody>
   <tr>
    <td>注文日</td>
    <td><%= @order.created_at %></td>
   </tr>
   <tr>
    <td>配送先</td>
    <td><%= @order.customer.postcode %>
    <%= @order.customer.address %>
    <%= @order.customer.name %></td>
   </tr>
   <tr>
    <td>支払方法</td>
    <td><%= Order.payment_methods_i18n[@order.payment_method] %></td>
   </tr>
   <tr>
    <td>ステータス</td>
    <td><%= Order.statuses_i18n[@order.status] %></td>
   </tr>
  </tbody>
</table>

<h3>請求情報</h3>
<table>
  <tbody>
    <tr>
    <td>商品合計</td>
    <td><%= @order.billing_amount-@order.postage %></td>
   </tr>
   <tr>
    <td>配送料</td>
    <td><%= @order.postage %></td>
   </tr>
    <tr>
    <td>ご請求額</td>
    <td><%= @order.billing_amount %></td>
   </tr>
  </tbody>
</table>

<h3>注文内容</h3>
<table>
   <thead>
    <tr>
      <th>商品</th>
      <th>単価(税込)</th>
      <th>個数</th>
      <th>小計</th>
    </tr>
   </thead>
     <tbody>
<% @orders.each do |order| %>
   <tr>
    <td><%= order.order_items.item_id.items.name %></td>
    <td><%= order.order_items.purchase_price %></td>
    <td><%= order.order_items.quantity %></td>
    <td><%= order_items.quantity*order.order_items.purchase_price %></td>
  </tr>
  </tbody>
<% end %>
</table>