<h2>商品詳細</h2>

        <table class='table'>
          <P>
            <%#= image_tag @item.get_profile_image, size:"100x100" %><br>
          </p>
          <tbody>
            <tr>
              <td>商品名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明</td>
              <td><%= @item.explanation %></td>
            </tr>
            <tr>
              <td>税込価格(税抜価格)</td>
              <td>￥<%= @item.tax_out_price.to_s(:delimited) %>（税込）
              </td>
            </tr>
          </tbody>
        </table>
        
        <%= select :genre_id, @genres, :id, :name %>
        
        <%= link_to "カートに入れる", cart_items_path %></td>