<h2>商品詳細</h2>

        <table class='table'>
          <P>
            <%= image_tag @item.get_profile_image(300,300), size:"100x100" %><br>
          </p>
          <tbody>
            <tr>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td><%= @item.explanation %></td>
            </tr>
            <tr>
              <td>￥<%= @item.tax_out_price.to_s(:delimited) %>（税込）
              </td>
            </tr>
          </tbody>
        </table>

        <%= form_with model: @cart_items, url: cart_items_path, method: :post do |f| %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :item_id, :value => @item.id %>
        <%= f.select :amount, *[1..10] %>
        <% end %>

        <%= link_to "カートに入れる", cart_items_path %></td>