<h2>商品詳細</h2>

        <table class='table'>
          <P>
            <%= image_tag @item.get_profile_image(300,300), size:"100x100" %><br>
          </p>
          <tbody>
            <tr>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td><%= @item.explanation %></td>
            </tr>
            <tr>
              <td>￥<%= @item.with_tax_price.to_s(:delimited) %>（税込）
              </td>
            </tr>
          </tbody>
        </table>
　　　　<% if customer_signed_in? %>
        　<%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
        　<%= f.hidden_field :customer_id, :value => current_customer.id %>
        　<%= f.hidden_field :item_id, :value => @item.id %>
        　<%= f.select :quantity, *[1..10] %>
        　<%= f.submit "カートに入れる" %></td>
        　<% end %>
      　<% else %>
      　　redirect_to request.referer
        <% end %>