<!DOCTYPE html>
<html>
  <head>
    <title>Kobosu</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/e512670c76.js" crossorigin="anonymous"></script>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="logo_area">
      <a class="navbar-brand" href="/" ><%= image_tag 'icon.jpeg', class: "logo",size: '100x100' %></a>
      </div>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
               <h5>ようこそ、<%= current_customer.first_name %>さん！</h5>
               <li class="nav-item">
                 <%= link_to "マイページ", mypage_path, class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "商品一覧", items_path, class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "カート", cart_items_path(current_customer.id), class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "ログアウト", destroy_customer_session_path, method: :delete, class: 'btn btn-secondary' %>
               </li>
               
              <% elsif admin_signed_in? %>
               <li class="nav-item">
                 <%= link_to "商品一覧", admin_items_path, class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "会員一覧", admin_customers_path, class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "注文履歴一覧", admin_root_path, class: 'btn btn-secondary' %>
               </li>
               <li class="nav-item">
                 <%= link_to "ジャンル一覧", admin_genres_path, class: 'btn btn-secondary'%>
               </li>
              <li class="nav-item">
                 <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-secondary' %>
              </li>
             <% else %>
              <li class="nav-item">
                <%= link_to "About", about_path, class: 'btn btn-secondary' %>
               </li>
              <li class="nav-item">
                 <%= link_to "商品一覧", items_path, class: 'btn btn-secondary' %>
              </li>
              <li class="nav-item">
                 <%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-secondary' %>
              </li>
              <li class="nav-item">
                 <%= link_to "会員ログイン",customer_session_path, class: 'btn btn-secondary'%>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログイン",admin_session_path, class: 'btn btn-secondary'%>
              </li>
            </ul>
        　    
        <% end %>
  </header>
    <%= yield %>
  </body>
  <footer>
    <div class="container mt-5">
  	<div class="row">
    	<div class="mx-auto">
    		<p>CopyRight Infratop.inc</p>
    	</div>
    </div>
  </div>
  </footer>
</html>
